__pycache__/
.trae/
.vscode/
.idea/
venv/
.venv/
env/
data/
fluentui-system-icons/
.workbuddy/
obj/
.obj/

# C# 构建产物
bin/
build/
*.dll
*.exe
*.pdb
*.so
*.deps.json
*.runtimeconfig.json
*.7z
runtimes/
