__pycache__/
.trae/
*.pyc
logs/
Logs/
config/
.vscode/
.idea/
venv/
.venv/
env/
Thumbs.db
.DS_Store
wallpaper/
data/ql_icon/
data/cache/
fluentui-system-icons/
.fluentui-system-icons/
LanMountainDesktop-main/
profiles/
.profiles/