__pycache__/
.trae/
.vscode/
.idea/
venv/
.venv/
env/
data/
fluentui-system-icons/
.workbuddy/
obj/
.obj/
bin/
build/
*.dll
*.exe
*.pdb
*.so
*.deps.json
*.runtimeconfig.json
*.7z
runtimes/
app-1.0.0/telemetry.keys.json
