/* 组件设置对话框 */

#settingDialog {
    background: transparent;
    border: none;
    font-family: "HarmonyOS Sans", "Microsoft YaHei", "SimHei", sans-serif;
}

#settingDialog Pivot {
    background-color: transparent;
}
