/* 组件设置对话框 */

#settingDialog {
    background-color: rgb(249, 249, 249);
    border: none;
    font-family: "HarmonyOS Sans", "Microsoft YaHei", "SimHei", sans-serif;
}

#settingDialog Pivot {
    background-color: transparent;
}

#settingDialog --pivot-indicator {
    background-color: #30c361;
}
